{% extends 'partials/body.html' %}
{% load static %}

{% block contenido %}

<!-- /.card -->
<div class="container">
<div class="card">
    <div class="card-header">
      <h3 class="card-title">crea tu categoria</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="tabla-general" class="table table-bordered table-striped">

<thead>
    <tr>
        <th>nombre</th>
        <th>descripcion</th>
        <th>accion</th>
    </tr>
</thead>

    <tbody>
        
       
            
   
    
    {% for  categoria in categorias  %}
        <tr>
   
            <td>{{categoria.nombre}}</td>
    
            <td>{{categoria.descripcion}}</td>
            <td> </a>
            <a class="btn btn-primary" href="{% url 'categorias-editar' categoria.id %}"><i class="fas fa-edit"></i></a>
                <a class="btn btn-danger" href="{% url 'categoria-eliminar' categoria.id %}"><i class="fas fa-trash-alt"></i></a>
              </td>
        </tr>
    {% endfor %}
       
    <tr class="">

        <form action="" method='POST'>
           {% csrf_token %} 
           <td>
            <input type="text" name="nombre" maxlength="90" required="" id="id_nombre">
           
            
            
        </td>
          <td><input type="text" name="descripcion" maxlength="256" required="" id="id_descripcion"></td>  
                <td><input class="btn btn-success" type="submit" value="Agregar"></td>
                
                
        </form>
    </tr>
    </tbody>
</table>

{% endblock contenido %}

