{% extends 'partials/body.html' %}
{% load static %}
{% block stylesheet %}
<!-- DataTables -->
<!--<link rel="stylesheet" href="{% static 'datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="{% static 'datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="{% static 'datatables-buttons/css/buttons.bootstrap4.min.css"> -->
{% endblock stylesheet %}

{% block contenido %}
<table class="table">
<thead>
    <tr>
        <th>nombre</th>
        <th>descripcion</th>
        <th>accion</th>
    </tr>
</thead>

    <tbody>
        
       
            
   
    
    {% for  categoria in categorias  %}
        <tr>
   
            <td>{{categoria.nombre}}</td>
    
            <td>{{categoria.descripcion}}</td>
            <td> </a>
            <a class="btn btn-primary" href="#"><i class="fas fa-edit"></i></a>
                <a class="btn btn-danger" href="#"><i class="fas fa-trash-alt"></i></a>
              </td>
        </tr>
    {% endfor %}
        
    <tr class="">

        <form action="" method='POST'>
           {% csrf_token %} 
           <td>
            <input type="text" name="nombre" maxlength="90" required="" id="id_nombre">
           
            
            
        </td>
          <td><input type="text" name="descripcion" maxlength="256" required="" id="id_descripcion"></td>  
                <td><input class="btn btn-success" type="submit" value="Agregar"></td>
                
                
        </form>
    </tr>
    </tbody>
</table>

{% endblock contenido %}

{% block javascript %}
<!-- DataTables  & Plugins -->
<script src="{% static 'datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'jszip/jszip.min.js' %}"></script>
<script src="{% static 'pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- Page specific script -->
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
{% endblock javascript %}
    
    

