{% extends 'partials/body.html' %}
{% load static %}

{% block contenido %}

<!-- /.card -->
<div class="container">
    <div class="col-md-12">
        <div class="card p-3">
            <div class="card-header">
                <h3 class="card-title">Gestiona tu marca</h3>
            </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="tabla-general" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>nombre</th>
            <th>prefijos</th>
            <th>accion</th>
        </tr>
    </thead>
    
        <tbody>
        {% for presentacion in presentacion %}
        <tr>
   
            <td>{{presentacion.nombre}}</td>
    
            <td>{{presentacion.prefijos}}</td>
            <td> </a>
            <a class="btn btn-primary" href="{% url 'presentacion-editar' presentacion.id %}"><i class="fas fa-edit"></i></a>
                <a class="btn btn-danger" href="{% url 'presentacion-eliminar' presentacion.id %}"><i class="fas fa-trash-alt"></i></a>
              </td>
        </tr>
        {% endfor %}
        
        <tr class="">

            <form action="" method='POST'>
               {% csrf_token %} 
               <td>
                <input type="text" name="nombre" maxlength="90" required="" id="id_nombre">
               
                
                
            </td>
              <td><input type="text" name="prefijos" maxlength="5" required="" id="id_prefijos"></td>  
                    <td><input class="btn btn-success" type="submit" value="Agregar"></td>
                    
                    
            </form>
        </tr>
        </tbody>
    </table>
{% endblock contenido %}

