


{% extends 'partials/body.html' %}
{% load static %}


{% block contenido %}
<!-- /.card -->
<div class="card">
  <div class="card-header">
    <h3 class="card-title">DataTable with default features</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table id="tabla-general" class="table table-bordered table-striped">
      
      <thead >
        <tr>
          <th scope="col">Categoria</th>
          <th scope="col">Presentacón</th>
          <th scope="col">Marca</th>
          <th scope="col">CodBarras</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Estado</th>
          <th scope="col">Accion</th>
        </tr>
      </thead>
      <tbody>


        {% for producto in productos %}
        <tr>

          {% if producto.estado != '3'  %}
          <td>{{producto.categoria}}</td>
          <td>{{producto.marca}}</td>
          <td>{{producto.presentacion}}</td>
          <td>{{producto.codigoBarras}}</td>
          <td>{{producto.nombre}}</td>
          <td>{{producto.descripcion}}</td>
          <td>{{producto.estado}}</td>

          
            </form>

        </div>
    </td>
      
      {% endif %}
    </tr>
    {% endfor %}


 


{% endblock contenido %}
