{% extends 'partials/body.html' %}
{% load static %}

{% block contenido %}


<!--Header-->
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Proveedores</h3>
  </div>
  <div>
    <td>
      <a class="btn btn-success text-center" title="Agregar" data-bs-toggle="modal" data-bs-target="#addModal">
        <i class="fas fa-plus"></i>
      </a>
    </td>
  </div>
  
<!--Tabla-->

  <table class="table table-bordered table-striped" id="tabla-proveedores">
    <thead class="table-dark">
      <tr>
        <th>Razón Social</th>
        <th>Sector Comercial</th>
        <th>Tipo de Documento</th>
        <th>Número de documenton</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>e-mail</th> 
        <th>Editar</th>
        <th>Eliminar</th>     
      </tr>
    </thead>

    {% include 'add.html' %}
  <!--back end inf-->
  {% for proveedor in proveedores %}
    <tr>
      <td>{{proveedor.razonSocial}}</td>
      <td>{{proveedor.sectorComercial}}</td>
      <td>{{proveedor.tipoDocumento}}</td>
      <td>{{proveedor.documento}}</td>
      <td>{{proveedor.direccion}}</td>
      <td>{{proveedor.telefono}}</td>          
      <td>{{proveedor.email}}</td>
      <td>
        <a class="btn btn-warning text-center" title="Editar"  data-bs-toggle="modal" data-bs-target="#editModal{{proveedor.pk}}">
          <i class="fas fa-pen"></i>
        </a>
      </td>
      <td>
        <a class="btn btn-secondary text-center" title="Eliminar" >
          <i class="fas fa-trash-alt"></i>
        </a>
      </td>
      
    </tr>
    
    
    {% include 'edit.html' %}
  {% endfor %}
  
  </table>  
</div>  
  

{% endblock contenido %}