{% load static %}
    <!-- jQuery -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'js/adminlte.js' %}"></script>
    <!-- Toastr-->
    <script src="{% static 'toastr/toastr.min.js' %}"></script>
    <script type="aplplication/json"src="{% static 'toastr/toastr-options.js' %}"></script>
    
    <script>
      tostadas.opciones = {
    "botóncerrar": cierto,
    "depurar": falso,
    "newestOnTop": falso,
    "barra de progreso": cierto,
    "positionClass": "toast-top-full-width",
    "prevenir duplicados": falso,
    "onclick": nulo,
    "showDuration": "300",
    "ocultarDuración": "1000",
    "tiempo de espera": "5000",
    "tiempo de espera extendido": "1000",
    "showEasing": "oscilación",
    "hideEasing": "lineal",
    "showMethod": "fundido de entrada",
    "hideMethod": "desaparecer"
  }


    </script>
    <script src="{% static 'js/modal-status.js' %}"></script>

{% block javascript %}


{% endblock javascript %}
    